{%  set base_url = url('<front>')  %}
<h1> Table: {{ content.table }} </h1>
<h1> Column Data: {{ content.column }} </h1>

{% if (content.data|length > 0) %}
<hr>
<h1> Review Data </h1>
<table>
  <tr>
    <th> Data </th>
  </tr>
{% for key,data in content.data %}
  <tr>
    <td> {{ attribute(data, content.column) }} </td>
  </tr>
{% endfor %}
</table>
<a class="button" href="{{ content.confirm }}"> Apply </a>
{% else %}

{{ content.form }}

{% endif %}

<a class="button" href="{{ base_url }}enum_type_column"> Cancel </a>
