
{% for key,data in content %}
  <h1> Table: </h1> {{ key }}

  <table>
    <tr>
     <th> Field </th>
     <th> Type </th>
     <th> Null </th>
     <th> Comment </th>
     <th> Enum Actions </th>
    </tr>
  {% for data_key,data_value in data %}
    <tr>
     <td> {{ data_value.field }} </td>
     <td> {{ data_value.type }} </td>
     <td> {{ data_value.null }} </td>
     <td> {{ data_value.comment }} </td>
     <td>
     <span> <a href="apply/enum_type/{{ key }}/{{ data_value.field }}/{{ data_value.type|url_encode }}" >Apply</a> </span>
     <span> <a href="revert/enum_type/{{ key }}/{{ data_value.field }}/{{ data_value.type|url_encode }}" href='#' >Revert</a> </span>
     <span> <a href="history/enum_type/{{ key }}/{{ data_value.field }}/{{ data_value.type|url_encode }}" href='#' >History</a> </span>
     </td>
    </tr>
  {% endfor %}
  </table>

{% endfor %}

